:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}


.todo-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  overflow: hidden;
}

.tabs {
  display: flex;
  background-color: #e0e0e0;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #d0d0d0;
}

.tab.active {
  background-color: #f0f0f0;
  border-bottom: 2px solid #007bff;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  color: #0a0a0a;

}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item:hover {
  background-color: #e8e8e8;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #888;
}

